
*{
  margin: 0px;
  font-family: "Roboto";
}

h1{
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid rgba(187, 187, 187, 0.22);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(187, 187, 187, 0.22);
  padding-bottom: 5px;
  color: #feb729;

}

h2{
  font-size: 40px;
}

h3{
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  text-align: left;
}

p{
  padding-top: 15px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px
}

body
{
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header{
  position: fixed;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 50px;
}

.Kris{
  font-size: 100px;
}

.Frasheri{
  font-size: 100px;
  color: #feb729;
}

header::after{
  content: "";
  display: table;
  clear: both;
}

nav{
  position: fixed;
  left: 0px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li{
  margin: 0;
  padding: 0;
  float: left;

  position: relative;
}

nav ul li a{
  color: #b0b0b0;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px 20px;
}

nav ul li a:hover{
  transition: color ease-in-out 0.2s;
  color: white;
}

nav ul li a::before{
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: rgba(254,183,41,0.7);

  position: absolute;
  bottom: 0;

  transition: all ease-in-out 0.25s;
}

nav ul li a:hover::before{
  width: 100%;
}

.sect{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: auto;
  background-color: #ffffff;
  color: #003f97;
  text-align: center;
  padding: 10px;

}

.head{
  background-image: url(assets/me.jpg);
  background-position: center;
  height: auto;
  width: auto;

  font-size: 10px;
  color: white;
  text-align: center;
  padding-top: 390px;
  font-size: 100px;
}

.sep{
  height: 100%;
  background-color: #feb729;
  padding: 50px 50px;
  text-align: center;
  color: white;
}

img{
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.7;
}

img:hover{
  opacity: 1;
}

.tags{
  padding-top: 10px;
}

.tags ul{
  list-style: none;
}

.tags ul li{
  margin: 5px;
  display: inline-block;
  max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-color: #feb729;

  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
}

.textwrite{
  margin: 0px;
}

.profile{
}

.skills{
}

.experience{

}

.projects{
}

.contact{
  background-color: #3f3f3f;
}
