.body {
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.quote p {
  font-size: 2rem;
  font-style: italic;
  text-align: right;
  margin: 0;
}

.titleText {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
}

.link {
  text-decoration: none;
  display: block;
}

.card {
  background: var(--course-bg);
  border: solid 0px var(--course-color1);
  padding: 5px;
  position: relative;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: white;
  text-align: center;
  user-select: none;
  overflow: hidden;
  transition: box-shadow 0.2s border 0.2s;
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
  opacity: 0.85;
}

.term {
  font-size: 0.9rem;
  opacity: 0.85;
}
