.page {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: stretch;
  /* padding: 2rem; */
  background-color: var(--secondary-color);
  color: var(--primary-color);
  /* max-width: 1400px; */
  /* margin: 0 auto; */
  width: 100%;
  overflow: hidden;
}

.tableOfContents {
  background: linear-gradient(135deg, #ff9a5b, #ff6a6a);
  color: white;
  padding: 2rem;
  /* border-radius: 0.5rem; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20rem;
  height: auto;
  /* margin-bottom: 1.5rem; */
}

.tableOfContents h1{
  margin: 0;
  font-size: 2rem;
}

.content {
  flex: 1; 
  height: 100%;
  overflow-y: auto;
  /* background: var(--tertiary-color); */
  padding: 1.5rem;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
}

.footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2rem;
}
