
.content {
  /* background: var(--tertiary-color); */
  flex: 1;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  overflow: scroll;
}

.content h1 {
  font-size: 2.5rem;
  border-bottom: 3px solid #ff6a6a;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}
.content h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
}
.content h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.content p,
.content ul,
.content ol {
  margin: 1rem 0;
}

.content pre {
  background: #2d2d2d;
  color: #f8f8f2;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 4px;
}
.content code {
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  font-family: monospace;
}

.content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  color: #666;
  margin: 1rem 0;
}
