.page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100%;
  overflow-y: none;
}

.errorPage {
  color: var(--primary-color);
  margin: 2rem;
}

.courseHeader {
  /* border-radius: 0.5rem; */
  border-bottom: 3px solid white;
  padding-bottom: 0.5rem;
}

.tableOfContents {
  background: var(--course-bg);
  color: white;
  display:flex;
  /* padding: 2rem; */
  /* border-radius: 0.5rem; */
  flex-direction: column;
  text-align: center;
  /* width: 20rem; */
  height: auto;
  overflow-y: scroll;
  overflow-x: none;
  word-wrap: break-word;
  /* margin-bottom: 1.5rem; */
  scrollbar-color: var(--secondary-color) var(--dimmer);
}

.toggleTOC {
  display: none;
  position: fixed;
  top: 4rem;
  left: 0.5rem;

  align-items: center;
  background-color: var(--pop1-color);
  color: var(--tertiary-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  border: none;
  opacity: 0.8;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.toggleContent {
  display: none;
}

.tableOfContents h1 {
  margin: 0;
  font-size: 2rem;
}

.footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2rem;
}

.footer a {
  flex: 1;
  font-size: 1rem;
}

.content {
  /* background: var(--tertiary-color); */
  flex: 1;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  overflow-y: scroll;
  overflow-x: none;
  scroll-behavior: smooth;
  scrollbar-color: var(--pop1-color) var(--secondary-color);
}

.contentInner {
  max-width: 1000px;
  margin: 0 auto; /* center your text inside the full-width scroll container */
}

.content h1 {
  font-size: 2.5rem;
  border-bottom: 3px solid var(--course-color1);
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}
.content h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.content h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.content img {
  max-width: 1000px;
  width: 100%;
}

.content p,
.content ul,
.content ol {
  margin: 1rem 0;
}

.content li ul {
  margin: 0;
}

.content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  color: #666;
  margin: 1rem 0;
}

.content a {
  color: var(--pop1-color);
  text-decoration: underline;
}

.tocList {
  list-style: none;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
    /* padding-left: 1em; indent each nested <ul> */
}

.tocList a {
  font-size: 1.2rem;
}

.level1 {
  font-size: 2rem;
  margin-left: 0;
}
.level2 {
  margin-left: 0.5rem;
}
.level3 {
  margin-left: 1.5rem;
}
.level4 {
  margin-left: 2.5rem;
}
.level5 {
  margin-left: 3.5rem;
}
.level6 {
  margin-left: 4.5rem;
}

.level2::before,
.level4::before,
.level6::before {
  content: "• ";
}

.level3::before,
.level5::before {
  content: "◦ ";
}

@media (max-width: 1000px) {
  .toggleTOC {
    display: block;
  }
}
